body {
		margin: 0px;
		font-family: 'Open Sans', sans-serif;
		font-size: 11px;
		font-weight: 300;
		fill: #242424;
		text-align: center;
		text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
		cursor: default;
	}

	.legend {
		font-family: 'Raleway', sans-serif;
		fill: #333333;
	}

	.tooltip {
		fill: #333333;
	}
	.area.year1, .year1 .circle {
	  fill: #4F77BB !important;
	  stroke: #4F77BB !important;
	}
	.area.year2, .year2 .circle {
	  fill: #A6CFE5 !important;
	  stroke: #A6CFE5 !important;
	}

	.area.year3, .year3 .circle {
	  fill: #31A148 !important;
	  stroke: #31A148 !important;
	}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
  fill: steelblue;
	opacity: 0.5;
}
